@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";



* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-text-main {
    background: #2e2676;
    background: linear-gradient(90deg, rgba(57, 50, 118, 1) 0%, rgba(80, 136, 171, 1) 89%);
}

html, body {
  overflow-x: hidden;
}



.btn-grad {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
.btn-grad {
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  }

  .btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
  .card {
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.6px);
-webkit-backdrop-filter: blur(10.6px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.bg-gradient {
background: #e1dfeb;
background: linear-gradient(90deg, rgba(225, 223, 235, 1) 0%, rgba(223, 229, 235, 1) 96%);
}

